/* nav-bar */

/*
Fuente: Boogalo, no mas de dos o tres fuentes en todo el proyecto.
*/

nav {
    display: flex;
    background-color: #ffff;
    min-height: 8vh;
    align-items: center;
    justify-content: space-between;
    font-family: "Boogaloo", sans-serif;
    font-size: larger;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-left: 30px;
    justify-content: center;
}

nav a {
    color: #FC9E37;
    text-decoration: none;
}